
.fl {
    float: left;
}
.cl {
    clear: left;
}
.fr {
    float: right;
}
.cr {
    clear: right;
}
.cb {
    clear: both;
}
.cn {
    clear: none;
}
.selected {
    text-decoration: underline;
}
body {
    padding-top: 20px;
}
.thumb {
    float: left;
    height: 100px;
    margin: -1em 1em 1.5em 0;
    padding-bottom: 1em;
    width: 100px;
}
div.row-fluid h4 {
    color: red;
}
div.mynav {
    clear: left;
    float: left;
}
.socialbutts {
    margin: 15px 0;
}
h1 {
    border-bottom: 1px solid gray;
}
.gigs {
    list-style: none outside none;
}
.gigs li {
    border: 1px dashed gray;
    float: left;
    margin: 1em auto;
    padding: 2em;
    width: 90%;
}
.gigTitle {
    clear: left;
    float: left;
    text-decoration: underline;
}
a.eUrl {
    padding-right: 0;
}
a.eUrl i {
    margin-left: 0.25em;
}
div#upright {
    clear: right;
    float: right;
    margin-top: -3.25em;
}
a.result {
    float: right;
}
.result i {
    margin-right: 0.6em;
}
.gigDate {
    font-size: 9pt;
}
.blurb {
    padding: 0.75em 0 0;
}
.detail {
    clear: both;
    float: left;
    margin-bottom: 1em;
    padding: 0.2em 0.7em 0.2em 1.5em;
}
.gigskills {
    clear: left;
    float: left;
}
.gigskill {
    float: left;
    margin: 0.5em 0.5em 0 0;
}
.gigskill i {
    margin-right: 0.25em;
}
.lefty {
    clear: left;
    float: left;
}
.righty {
    clear: right;
    float: right;
}
.skill {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000000 black black;
    border-image: none;
    border-right: 1px solid black;
    border-style: double solid solid;
    border-width: 3px 1px 1px;
    height: 215px;
    margin-bottom: 1em;
    padding: 1em 1.3em;
}
.categories {
}
.usedAt a {
    clear: left;
    float: left;
}
img.skill {
    background-color: white;
    border: 1px solid black;
    float: left;
    height: 400px;
    margin-bottom: 2em;
    margin-right: 3em;
    padding: 2em;
    width: 400px;
}
ul.skill-thumbs {
    list-style: none outside none;
    margin: 0;
}
ul.skill-thumbs li {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    margin: 1em;
}
ul.skill-thumbs img {
    height: 100px;
    padding: 1em;
    width: 100px;
}
ul.skill-thumbs img:hover {
    cursor: pointer;
}
.infoLink i {
    margin-left: 0.25em;
}
