/* general stuff */

.fl {
    float: left;
}

.cl {
    clear: left;
}

.fr {
    float: right;
}

.cr {
    clear: right;
}

.cb {
    clear: both;
}

.cn {
    clear: none;
}

.offset_half{
    margin-left:50px;
}

.selected {
    text-decoration: underline;
}

body {
    padding-top: 20px;
}

h1 {
    border-bottom: 1px solid gray;
}

h2{
    float:left;
}

/* index.html template */

h4.uc{
    color: red;
    font-weight: bold;
}

div.mynav {
    float: left;
    clear: left;
}

div.mynav a.btn-info{
    padding:0.25em 0.75em;
}

.socialbutts {
    margin: 15px 0;
}

div#upright {
    clear: right;
    float: right;
    margin-top: -2.65em;
}


/* don't know if i need these anymore */

.thumb {
    float: left;
    height: 100px;
    margin: -1em 1em 1.5em 0;
    padding-bottom: 1em;
    width: 100px;
}

img.skill {
    background-color: white;
    border: 1px solid black;
    float: left;
    height: 400px;
    margin-bottom: 2em;
    margin-right: 3em;
    padding: 2em;
    width: 400px;
}
ul.skill-thumbs {
    list-style: none outside none;
    margin: 0;
}
ul.skill-thumbs li {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    margin: 1em;
}
ul.skill-thumbs img {
    height: 100px;
    padding: 1em;
    width: 100px;
}
ul.skill-thumbs img:hover {
    cursor: pointer;
}
