/* gig-detail.css */

.gigdetail{
    margin:3.5em 0 0 1em;
}

.gigdetail .methodology{
    float:right;
    clear:right;
    margin:1em 0;
}

.main{
    float:left;
    clear:both;
    margin:1em 0.5em 0 0;
}

.main .btn{
    float:left;
    clear:both;
}

.main dl{
    float:left;
    clear:left;
    margin:0.5em;
}

.main dl dd {
    margin:0.25em 0.5em 0.5em 0;
}

.main p{
    float:left;
    clear:left;
    margin:0.5em;
}

.contributions{
    float:left;
    clear:left;
}

.contributions dd span{
    margin-right: 0.5em;
}

.contributions dd span.foo{
    font-weight: bold;
}


