<div class="span10" style="margin-top:1em;">
    <table>
        <thead>
            <tr>
                <th>Degree</th>
                <th>Discipline</th>
                <th>Institution</th>
                <th>Location</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BA</td>
                <td>Chemistry</td>
                <td><a href="http://stolaf.edu">St. Olaf College</a></td>
                <td>Northfield MN</td>
                <td>June 1997</td>
            </tr>
            <tr>
                <td>MS</td>
                <td>Molecular &amp; Cellular Biology</td>
                <td><a href="http://emich.edu">Eastern Michigan University</a></td>
                <td>Ypsilanti MI</td>
                <td>August 2003</td>
            </tr>
            <tr>
                <td>BS</td>
                <td>Computer Science</td>
                <td><a href="http://emich.edu">Eastern Michigan University</a></td>
                <td>Ypsilanti MI</td>
                <td>June 2005</td>
            </tr>
            <tr>
                <td>minor</td>
                <td>Mathematics</td>
                <td><a href="http://emich.edu">Eastern Michigan University</a></td>
                <td>Ypsilanti MI</td>
                <td>August 2003</td>
            </tr>
        </tbody>
    </table>
</div>