<div class="gigdetail" ng-controller="GigDetailCtrl">

    <div class="badge fl cb">
        <div class="fl cb">
            <strong>{{gig.title}} at {{gig.employer}}</strong>
        </div>
        <div class="fl cb">
            <strong>{{gig.cityState}}</strong>
        </div>
        <div class="fl cb">
            {{gig.startDate | date:'MMM y' }} to <span ng-hide="isOverWith()">{{gig.endDate | date:'MMM y' }}</span><span ng-hide="!isOverWith()">present</span>
        </div>
    </div>

    <div class="main lead">

        <p ng-show="!contributed(gig)" class="blurb">{{gig.blurb}}</p>

        <div ng-show="contributed(gig)" class="btn btn-success disabled">Key Contributions:</div>
        <dl ng-show="contributed(gig)" class="contributions">
            <dd ng-repeat="contrib in gig.contributions">
                <span class="foo">{{contrib.name}}:</span>
                <span>{{contrib.description}}</span>
            </dd>
        </dl>

        <div ng-show="lead()" class="btn btn-success disabled">Leadership:</div>
        <dl ng-show="lead()" class="leadership">
            <dd ng-repeat="leadership in gig.leadership">{{$index+1}}. {{leadership}}</dd>
        </dl>

        <div ng-show="sdlc()" class="btn btn-success disabled">SDLC Process:</div>
        <p ng-show="sdlc()" class="sdlcProcess">
            {{gig.sdlcProcess}}
        </p>

        <div ng-show="team()" class="btn btn-success disabled">Team:</div>
        <p ng-show="team()" class="team">
            {{gig.team}}
        </p>

    </div>


</div>
