<div class="gigdetail" ng-controller="GigDetailCtrl">

    <div class="badge fl cb">
        <div class="fl cb">
            <strong>{{gig.title}} at {{gig.employer}}</strong>
        </div>
        <div class="fl cb">
            <strong>{{gig.cityState}}</strong>
        </div>
        <div class="fl cb">
            {{gig.startDate | date:'MMM y' }} to <span ng-hide="isOverWith()">{{gig.endDate | date:'MMM y' }}</span><span ng-hide="!isOverWith()">present</span>
        </div>
    </div>
    <div class="btn btn-primary btn-mini methodology">methodology: {{gig.methodology}}</div>

    <div class="main lead">

        <p ng-show="!contributed(gig)" class="blurb">{{gig.blurb}}</p>

        <dl ng-show="contributed(gig)" class="contributions">
            <dt>Key contributions:</dt>
            <dd ng-repeat="contrib in gig.contributions">
                <div>{{$index + 1}}. {{contrib.name}}</div>
                <div>{{contrib.description}}</div>
            </dd>
        </dl>

        <dl ng-show="lead()" class="leadership">
            <dt class="heading">Leadership:</dt>
            <dd ng-repeat="leadership in gig.leadership">{{$index + 1}}. {{leadership}}</dd>
        </dl>

        <p ng-show="sdlc()" class="sdlcProcess">
            {{gig.sdlcProcess}}
        </p>

        <p ng-show="team()" class="team">
            {{gig.team}}
        </p>

    </div>


</div>
