<div class="gigdetail" ng-controller="GigDetailCtrl">

    <div class="badge fl cb">
        <div class="fl cb">
            <strong>{{gig.title}} at {{gig.employer}}</strong>
        </div>
        <div class="fl cb">
            <strong>{{gig.cityState}}</strong>
        </div>
        <div class="fl cb">
            {{gig.startDate | date:'MMM y' }} to <span ng-hide="isOverWith()">{{gig.endDate | date:'MMM y' }}</span><span ng-hide="!isOverWith()">present</span>
        </div>
    </div>
    <div class="btn btn-primary btn-mini methodology">methodology: {{gig.methodology}}</div>

    <div class="main lead">
        <p>{{gig.blurb}}</p>
    </div>


</div>
