<div class="span10" style="margin-top:1em;" ng-controller="SkillListCtrl">

    <div>
        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
            <option value="skillName">alphabetical</option>
            <option value="categories">categories</option>
        </select>
    </div>

    <p ng-repeat="skill in skills | filter:query | orderBy:orderProp">
        <a href="#/skills/{{skill.skillId}}">{{skill.skillName}}</a>
        <span class="category" ng-repeat="category in skill.categories">{{category}}</span>
    </p>
</div>
