

<h2 class="row-fluid">{{skill.skillId}}</h2>
<h4 class="uc">Under Construction</h4>

<ul>
    <li>
        <dl>
            <dt>Categories</dt>
            <dd ng-repeat="category in skill.categories">{{category}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Used at:</dt>
            <dd ng-repeat="gig in skill.gigs">{{gig.gigId}}</dd>
        </dl>
    </li>
    <li>
        <dl>
            <dt>Months experience</dt>
            <dd>{{ skill.experience }}</dd>
        </dl>
    </li>
</ul>
