<div class="span10" style="margin-top:1em;" ng-controller="SkillListCtrl">

    <div class="form-search" id="upright">
        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
            <option value="skillName">alphabetical</option>
            <option value="categories">categories</option>
            <option value="gig">gig</option>
        </select>
    </div>

    <div ng-repeat="skill in skills | filter:query | orderBy:orderProp" ng-class="{ righty: rhs(), lefty: lhs(), span4: true, offset1: true, skill:true }">

        <a href="#/skills/{{skill.skillId}}" class="skillLink">{{skill.skillName}}</a>

        <dl class="categories" ng-show="skill.categories.length > 0">
            <dt>Categories:</dt>
            <dd ng-repeat="category in skill.categories">{{category}}</dd>
        </dl>

        <div class="usedAt" ng-show="skill.gigs.length > 0">
            <div class="fl cb">Used at:</div>
            <a ng-repeat="gig in skill.gigs" href="#/gigs/{{gig.gigId}}" class="btn-info btn-mini skillgig">{{gig.gigName}}</a>
        </div>

        <a href="javascript:void(0);" onclick="popout('{{skill.infoLink}}')" class="fl cl btn-link infoLink" ng-show="hasLink(skill)">more info&hellip;<i class="icon-share" ng-show="hasLink(skill)"></i></a>
        <!--<a href="javascript:void(0);" onclick="popout('{{skill.infoLink}}')" class="fl cl btn-link infoLink" ng-show="hasLink(skill)">{{skill.infoLink}}<i class="icon-share" ng-show="hasLink(skill)"></i></a>-->

    </div>

</div>
